
basic-form {
    width: 30em;
    height: 30em;
    overflow: hidden;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
}

basic-form >  form > .form-item > label > input, basic-form >  form >  .form-item > input  {
    display: block;
    box-sizing: border-box;
    width: 30em;
    margin-bottom: 0.5em;
    border: none;
    height: 3.5em;
}

basic-form >  form > .form-item > label > input[type="text"],
basic-form >  form > .form-item > label > input[type="password"] {
    padding: 1em;
    color: #a9a9a9;

}

basic-form >  form > .form-item > label > input[type="text"]:focus,
basic-form >  form > .form-item > label > input[type="password"]:focus {
    color: orange;
    outline: orange 1px solid;
}
basic-form >  form > .form-item >  label  >  input {
    border: 1px solid lightgray;
}


basic-form >  form >  .form-item > input[type="submit"] {
    background-color: #ff5000;
    color : white;
}