.header {
    display : flex;
    flex-wrap: nowrap;
    flex-direction:  row;
    justify-content: center;
    align-items: center;
}

.header_item {

}

search-box {
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    widht: 100%;
}

search-box > input {
    border: 3px solid orange;
    border-radius: 5px 0 5px;
    width: 70%;
    height: 4em;
    padding: 1em;
}

search-box > input:focus {
    outline: none;
}

search-box > button {
    all: unset;
    color: orange;
}


search-box > button > img{

    width: 3em;
    height: 3em;
    border-left: none;
    margin-right: 3em;
    transform:translateX(-100%);
}

.menu {
    flex-grow: 1;
    display : flex;
    flex-direction: row-reverse;
    padding-top : 0.8em;
    height: 100%;

}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;


}



menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu li img {
    padding-bottom: 0.5em;
    width: 1.5em;
    height: 1.5em;
}